@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&display=swap');

:root {
  --light-base: #D8DEE9;
  --light-secondary: #ECEFF4;
  --dark-primary: #434C5E;
  --dark-secondary: #4C566A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, div, p, a, span, ul, li, button {
  margin: 0;
	padding: 0;
	border: 0;

	font-size: 100%;
	font: inherit;
}

body {
  background-color: var(--light-base);
  color: var(--dark-primary);

  font-family: 'Jost', Helvetica, Arial, sans-serif;
}

ul {
  list-style-type: none;
}

.container {
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-template-rows: 200px 1fr;
}

.header,
.main-content {
  padding: 20px 60px 20px 40px;
}

/* Sidebar */
.sidebar {
  grid-row: 1 / -1;

  display: grid;
  grid-template-rows: 75px 1fr;
  gap: 40px;
  padding: 12px 24px;

  background-color: var(--dark-secondary);
  color: var(--light-secondary);

  font-size: 1.4rem;
  font-weight: 500;
}

.sidebar-head,
.sidebar-nav li {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  gap: 24px;

  line-height: 3rem;
}

.sidebar-nav {
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: 40px;
}

.sidebar h1 {
  font-size: 1.8rem;
  font-weight: 600;
}

/* PLACEHOLDERS */
.sidebar .placeholder-0,
.sidebar .placeholder-1 {
  justify-self: center;
}

.sidebar a,
.sidebar a:visited,
.sidebar a:active {
  text-decoration: none;
  color: #ECEFF4;
}

/* Header and top bar */
.header {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr 2fr;
  background-color: var(--light-secondary);
  color: var(--dark-primary);
  font-weight: 500;
}

.header-cell {
  display: flex;
  align-items: center;
  gap: 20px;
}

input[type="search"] {
  -webkit-appearance: none;
  appearance: none;

  flex: 1;
  max-width: 75%;
  padding: 0 10px;
  border-radius: 4px;
  border: 1px solid var(--dark-primary);

  background-color: var(--light-base);
  color: var(--dark-primary);
  
  line-height: 2rem;
  font-family: inherit;
  font-size: 1rem;
}

.account, 
.message-wrapper h3 {
  font-size: 1.2rem;
}

.account,
.account-actions {
  justify-content: flex-end;
}

.message-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.message-wrapper > * {
  flex-basis: 100%;
}

.message-wrapper h3 {
  font-weight: 400;
}

.message-wrapper h2 {
  font-size: 1.5rem;
}

.account-actions button {
  width: 100px;
  height: 40px;
  border: 1px solid var(--dark-primary);
  border-radius: 16px;
  
  background-color: var(--light-secondary);  
  color: var(--dark-primary);

  font-weight: 500;

  cursor: pointer;
}

/* Main content */
.main-content {
  display: grid;
  grid-row: 2 / -1;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  column-gap: 50px;
  row-gap: 30px;
}

.main-content h2 {
  margin-bottom: 12px;

  font-size: 1.4rem;
  font-weight: 500;
}

/* Projects section */
.projects {
  grid-area: 1 / 1 / span 2 / 2;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.project-card {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  border: 1px solid black;
}

.project-actions {
  display: flex;
  flex: 1;
  gap: 20px;
  align-items: flex-end;
  align-self: flex-end;
  margin-top: 20px;
}

.project-title {
  font-size: 1.3rem;
  font-weight: 500;
}

/* Announcements section */
.announcements {
  grid-area: 1 / 2;
}

.announcements-card {
  padding: 20px;
  border: 1px solid black;
}

.announcement-item:first-child,
.announcement-item:nth-child(2) {
  border-bottom: 1px solid black;
}

.trending {
  grid-area: 2 / 2;
}

.trending-card {
  border: 1px solid black;
}

.trending-item {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.project-actions > button {
  font-family: inherit;
  width: 30px;
  height: 30px;
}



/* Placeholders for layout */
.avatar {
  border: 1px solid black;
}

.placeholder-0 {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

.placeholder-1 {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.placeholder-2 {
  width: 75px;
  height: 75px;
  border: 1px solid black;
}