@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&display=swap');

:root {
  --light-base: #D8DEE9;
  --light-secondary: #ECEFF4;
  --light-tertiary: #E5E9F0;
  --dark-primary: #2e3440;
  /* --dark-primary: #434C5E; */
  --dark-secondary: #4C566A;
  --accent-primary: #8FBCBB;
  --accent-secondary: #88C0D0;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, div, p, a, span, ul, li, button {
  margin: 0;
	padding: 0;
	border: 0;

	font-size: 100%;
	font: inherit;
}

body {
  background-color: var(--light-base);
  color: var(--dark-primary);

  font-family: 'Jost', Helvetica, Arial, sans-serif;

}

.secondary-text {
  color: var(--dark-secondary);
}

ul {
  list-style-type: none;
}

.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 200px 1fr;
}

.header, 
.main-content  {
  padding: 0 60px 0 40px;
}

/* Sidebar */
.sidebar {
  min-height: 100vh;
  grid-row: 1 / -1;

  display: grid;
  grid-template-rows: 75px 1fr;
  gap: 40px;
  padding: 12px 24px;

  background-color: var(--dark-secondary);
  color: var(--light-secondary);

  font-size: 1.4rem;
  font-weight: 500;
}

.sidebar-head,
.sidebar-nav li {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  gap: 24px;

  line-height: 3rem;
}

.sidebar-nav {
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: 40px;
}

.sidebar h1 {
  font-size: 1.8rem;
  font-weight: 600;
}

.sidebar a,
.sidebar a:visited,
.sidebar a:active {
  text-decoration: none;
  color: var(--light-secondary);
  transition: ease all 0.1s;
}

.sidebar a:hover {
  color: var(--accent-secondary);
  transition: ease all 0.1s;
}

.sidebar a:active {
  filter: brightness(0.8);
  transition: ease all 0.1s;
}

/* PLACEHOLDERS */
.sidebar .placeholder-0,
.sidebar .placeholder-1 {
  justify-self: center;
}



/* Header and top bar */
.header {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr 2fr;
  padding-top: 20px;
  padding-bottom: 30px;
  row-gap: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;;


  background-color: var(--light-secondary);
  color: var(--dark-primary);

  font-weight: 500;
}

.header-cell {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-message,
.account-actions {
  align-self: end;
}

input[type="search"] {
  -webkit-appearance: none;
  appearance: none;

  flex: 1;
  max-width: 75%;
  padding: 0 10px;
  border-radius: 4px;
  border: 1px solid var(--dark-primary);

  background-color: var(--light-base);
  color: var(--dark-primary);
  
  line-height: 2rem;
  font-family: inherit;
  font-size: 1rem;
}

.account, 
.message-wrapper h3 {
  font-size: 1.2rem;
}

.account,
.account-actions {
  justify-content: flex-end;
}

.message-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.message-wrapper > * {
  flex-basis: 100%;
}

.message-wrapper h3 {
  font-weight: 400;
}

.message-wrapper h2 {
  font-size: 1.5rem;
}

.account-actions button {
  width: 100px;
  height: 40px;
  border-radius: 12px;
  
  background-color: var(--accent-secondary);
  color: var(--dark-primary);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  transition: all ease 0.1s;

  font-size: 1.1rem;
  font-weight: 500;

  cursor: pointer;
}

.account-actions button:hover {
  filter: brightness(0.9);
  transition: all ease 0.1s;
}

.account-actions button:active {
    transition: all 0.1s ease;
    filter: brightness(0.8);
}

/* Main content */
.main-content {
  display: grid;
  grid-row: 2 / -1;
  grid-template-columns: 3fr 1fr;
  column-gap: 50px;
  padding-top: 35px;
  padding-bottom: 35px;
}

.main-content h2 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 15px;
}

/* Projects section */
.projects {
  /* grid-row: span 2; */
  display: grid;
  grid-template-rows: max-content 1fr;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  gap: 30px;
}

.project-card {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  border-left: 8px solid var(--accent-primary);
}

.card {
  background-color: var(--light-tertiary);
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transition: ease all 0.1s;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: ease all 0.1s;
}

.project-actions {
  display: flex;
  flex: 1;
  gap: 20px;
  align-items: flex-end;
  align-self: flex-end;
  margin-top: 10px;
}

.project-title {
  font-size: 1.3rem;
  font-weight: 500;
}

.sidebar-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Announcements section */
.announcements-card {
  padding: 5px 30px 20px 30px;
}

.announcement-item {
  overflow: hidden;
  text-overflow: ellipsis;
}

.announcement-item p {
  font-size: 0.9rem;
}

.announcement-item h3 {
  font-weight: 500;
  margin-top: 15px;
}

.announcement-item:first-child,
.announcement-item:nth-child(2) {
  border-bottom: 1px solid black;
  padding-bottom: 15px;
}

.trending-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 25px 25px;
}

.trending-item {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 15px;
}

.trending-project {

}

.project-actions > button {
  font-family: inherit;
  width: 30px;
  height: 30px;
}



/* Placeholders for layout */
.avatar {
  border: 1px solid black;
  flex-shrink: 0;
}

.placeholder-0 {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

.placeholder-1 {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.placeholder-2 {
  width: 75px;
  height: 75px;
  border: 1px solid black;
}